<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Как выбрать и как приготовить молодой картофель: советы от шефа</title>
</head>
<body>
    <h1>Как выбрать и как приготовить молодой картофель: советы от шефа</h1>
    <h2>1. Первое, на что нужно обратить внимание, — внешний вид</h2>
    <h3>2. Зелёного цвета на картофеле быть не должно: это верный признак содержания соланина</h3>
    <h4>3. Молодой картофель на ощупь должен быть гладким и твёрдым, не продавливаться</h4>
    <h4>4. Потрите пальцем кожуру: она должна быть настолько тонкой, что через пару секунд покажется «тело» картофеля.</h4>
    <h4>5. Огромные картофелины, — как правило, признак большого содержания нитратов.</h4>
</body>
</html>